<%= form_for @order, :url => orders_done_path do |f| %>
<h2>確認</h2>
<p>トラックのナンバー：<%= f.hidden_field :truck %><%= @order.truck %></p>
<p>日付：<%= f.hidden_field :date %><%= @order.date %></p>
<p>コンテナ番号：<%= f.hidden_field :cntr_number %><%= @order.cntr_number %></p>
<%= f.submit '戻る', name: 'back' %>
<%= f.submit '送信する'%>

<% end %>