

<div class="main-container">
<p>この画面をプリントアウトしてください。</p>
<center><h2>トラックのナンバー：<%= @order.truck %></h2>
<h2>日付：<%= @order.date %></h2>
<h2>コンテナナンバー：<%= @order.cntr_number %></h2>
<h2>時間帯：
<% @order.t_range = "9時から10時" if @order.t_range == "9-10" %>
<% @order.t_range = "10時から11時" if @order.t_range == "10-11" %>
<% @order.t_range = "11時から12時" if @order.t_range == "11-12" %>
<% @order.t_range = "12時から13時" if @order.t_range == "12-13" %>
<% @order.t_range = "13時から14時" if @order.t_range == "13-14" %>
<% @order.t_range = "14時から15時" if @order.t_range == "14-15" %>
<% @order.t_range = "15時から16時" if @order.t_range == "15-16" %>
<%= @order.t_range %></h2></center>
<h1>※※時間内であってもタイミングによっては、すぐに入場できない場合があることを理解し、 <br>必ず守衛の支持に従います</h1>
</div>

 <%= link_to "トップページ", "/" %>