<% if @order.errors.any? %>
    <h2>指定された日付に誤りがあります”<%= @order.date %>”</h2>

<%else%>

<div class="main-container">
<p>この画面をプリントアウトしてください。もしくはスマホ画面を見せてください</p>
<center><h2>トラックのナンバー：<%= @order.truck %></h2>
<h2>日付：<%= @order.date %></h2>
<h2>コンテナナンバー：<%= @order.cntr_number %></h2>
<h2>種別：
<%= "空バンPICK" if @order.purpose == 1 %>
<%= "実入り搬入" if @order.purpose == 2 %>
<%= "実入り搬出" if @order.purpose == 3 %>
</h2>
<h2>時間帯：<%= @order.slot.begin_time%>から<%= @order.slot.end_time %>
</h2></center>
<h1>※時間内であってもタイミングにより、すぐ入場できない場合があることを理解し、必ず守衛の指示に従います※</h1>
</div>

<%end%>
 <%= link_to "トップページ", "/" %>
 