
<table>
  <thead>
    <tr>
      <th>トラックのナンバー</th>
      <th>コンテナ番号</th>
      <th>担当者名</th>
      <th>電話番号</th>
      <th>会社名</th>
      <th>日時</th>
      <th>予約時間</th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.truck %></td>
        <td><%= list.cntr_number %></td>
        <td><%= list.user.driver %></td>
        <td><%= list.user.phone %></td>
        <td><%= list.user.company %></td>
        <td><%= list.date %></td>        
        <td><%= list.slot.begin_time %>から<%= list.slot.end_time %></td>
        <td><%= link_to "削除",order_path(list.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "インデックス", orders_authority_path %></p>

